@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.body {
  background-image: url("src/assets/background_photo_desktop.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 0 17%;
}

.Nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.88rem;
  font-weight: 600;
  background-color: #010d3f;
}
.Nav h1 {
  font-size: 1.88rem;
  font-weight: 600;
  color: #fff;
}

.highlight {
  color: #6c41ec;
}
